div {

    &.flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        gap: pxToRem(20);

        &.column {
            flex-direction: column;
            gap: pxToRem(20);
        }

        &.align-start {
            align-content: flex-start;
        }

        &.align-end {
            align-content: flex-end;
        }

        &.align-center {
            align-content: center;
        }

        &.justify-start {
            justify-content: flex-start;
        }

        &.justify-end {
            justify-content: flex-end;
        }

        &.no-gap {
            gap: 0;
        }

        &.no-wrap {
            flex-wrap: nowrap;
        }
    }

}

nav{

    &.navbar
    {
        position: fixed;
        top: 0;
        left: 0;
    }

    &.flex
    {display: flex;}
}