form{
    min-width: 50%;

    &>div{
        width: 100%;

        input[type=text], input[type=password], input[type=email], textarea[type=text], textarea[type=password], textarea[type=email]{
            width: 80%;
        }
    }
}