.sidebar {
    background-color: rgb(24, 182, 143);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;-webkit-box-shadow: 5px 5px 24px 2px #000000; 
    box-shadow: 5px 5px 24px 2px #000000;

    a {
        color: white;
        text-decoration: none;
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
    }
}