//create a for loop that will create a class for each margin size
@for $i from 0 through 10 {
    .m-#{$i} {
        margin: pxToRem($i*10);
    }
}

//create a for loop that will create a class for each margin size
@for $i from 0 through 10 {
    .mt-#{$i} {
        margin-top: pxToRem($i*10);
    }
}

//create a for loop that will create a class for each margin size
@for $i from 0 through 10 {
    .mb-#{$i} {
        margin-bottom: pxToRem($i*10);
    }
}

//create a for loop that will create a class for each margin size
@for $i from 0 through 10 {
    .ml-#{$i} {
        margin-left: pxToRem($i*10);
    }
}

//create a for loop that will create a class for each margin size
@for $i from 0 through 10 {
    .mr-#{$i} {
        margin-right: pxToRem($i*10);
    }
}

.mt-auto {
    margin-top: auto;
}

.height-100 {
    height: 100vh;
}